* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, footer {
    padding: 15px;
}

header{
    background-color:rgb(13, 94, 141);
}

nav {
    background-color: rgb(200,200,200);
    padding: 5px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 5px;
}

nav ul a {
    text-decoration: none;
    text-align: center;
    padding:10px;
    border-radius: 5px;
    background-color: rgb(200,200,200);
    transition: 0.2s all;
    display: inline-block;
    width: 100%;
}

nav ul a:hover {
    background-color: white;
    color: black;
}

main {
    flex: 1;
    background-color: rgb(13, 94, 141);
}

h1, h2{
    color:white;
    text-align: center;    
}

h2{
    padding: 0px 0px 20px 0px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img_index{
    padding: 47px 0px 0px 0px
}
footer {
    background-color:rgb(13, 94, 141);
    color:white
}
.copyright{
    text-align: center;
    font-weight:normal;
}
