{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuela Técnica Nº 7 DE 5 - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'alumnos/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <h1>Escuela Técnica Nº 7 de 5to - "Dolores Lavalle de Lavalle"</h1>
        <h2>{% block section_title %}{% endblock %}</h2>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'alumnos' %}">Alumnos</a></li>
            <li><a href="{% url 'cursos' %}">Cursos</a></li>
            <li><a href="{% url 'docentes' %}">Docentes</a></li>
            <li><a href="{% url 'tramites' %}">Tramites</a></li>
            <li><a href="{% url 'novedades' %}">Novedades</a></li>
            
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include "alumnos/footer.html" %}
    </footer>
</body>
</html>